<h2 style="margin-bottom:4px;">Nuevo comentario en  el artículo</h2>

<p>
Has recibido un comentario en el artículo: <strong><%= @article.name %></strong>
</p>

<p>
<%= link_to article_url(@article), article_url(@article) %>
</p>
