<br />
<br />
<br />
<h2> <%= t(:draft_articles) %> </h2>

<% articles.each do |article| %>
  <div class="toparticle">
    <a href="<%= article_path(article) %>">
  		<h3><%= article.name %></h3>    
  		<p><%= redcloth(article.description) %></p>
  	</a>
  </div><!--/toparticle-->
<% end %>
